{% extends "@App/Backend/Layouts/backendInnerLayout.html.twig" %}
    {% block inner_content %}
        <div class="row btn-group">
            <button id="add_default" class="btn btn-success" style="margin-right: 10px;">
                <i class="icon-plus-sign"> New</i>
            </button>
            <button class="btn" id="edit_category" data-toggle="modal" data-target="#edit_category_modal"
                    style="margin-right: 10px;">
                <i class="icon-pencil"> Edit</i>
            </button>
            <button class="btn" id="rename_category" data-toggle="modal" data-target="#rename_category_modal"
                    style="margin-right: 10px;">
                <i class="icon-pencil"> Rename</i>
            </button>
            <button class="btn btn-danger" id="delete_category">
                <i class="icon-remove"> Delete</i>
            </button>
        </div>
        <div id="data">
            <div id="tree">
            </div>
            <div id="data">
                <div class="content code" style="display:none;">
                    <textarea id="code" readonly="readonly"></textarea>
                </div>
                <div class="content folder" style="display:none;"></div>
                <div class="content image" style="display:none; position:relative;">
                    <img src="" alt="" style="display:block; position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;"/>
                </div>
                <div class="content default" style="text-align:center;">Select a node from the tree.</div>
            </div>
        </div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/backend/js/jstree/jstree.min.js") }}"></script>
    <script src="{{ asset('bundles/app/backend/js/jsTree.js') }}"></script>
{% endblock %}